body {
    background: url(../..//assets/img/fundo.png) no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
}

.slot1 {
    position: absolute;
    width: 25%;
    height: 30%;
    margin-left: -60%;
    margin-top: 10%;
}

.slot2 {
    position: absolute;
    width: 25%;
    height: 30%;
     margin-top: 10%;
     margin-left: -3%;
}

.slot3 {
    position: absolute;
    width: 25%;
    height: 30%;
    margin-left: 53%;
    margin-top: 10%;
}

.slot4 {
    position: absolute;
    width: 25%;
    height: 30%;
    margin-left: 53%;
    margin-top: 30%;
}

.slot5 {
    position: absolute;
    width: 25%;
    height: 30%;
    margin-left: -3%;
    margin-top: 30%;
}

.slot6 {
    position: absolute;
    width: 25%;
    height: 30%;
    margin-left: -60%;
    margin-top: 30%;

}

h2{
font-size: 200%;
    color: rgb(152, 17, 17);
    font-family: "Moon Dance", serif;
    position: absolute;
    z-index: 22;
    font-size: 240%;
 }
 
 .preçot{
    margin-left: -47%;
    margin-top: 10.5%;
 }
  .preçot{
    margin-left: -47%;
    margin-top: 30.8%;
 }
 .preçot1{
    margin-left: 67%;
    margin-top: 30.8%;
 }
 .preçot2{
    margin-left: -47%;
    margin-top: 10.5%;
 }
 .preçot3{
    margin-left: 11.5%;
    margin-top: 30.8%;
 }
 .preçot4{
    margin-left: 66%;
    margin-top: 10.5%;
 }
 .preçot5{
    margin-left: 10%;
    margin-top: 10.5%;
 }
 
 .preço1{
    height: 10%;
    position: absolute;
    width: 10%;
    z-index: 5;
    margin-top: 10%;
    margin-left: -47%;
 }
 .preço2{
    height: 10%;
    position: absolute;
    width: 10%;
    z-index: 5;
    margin-top: 10%;
    margin-left: -47%;
 }
 .preço3{
    height: 10%;
    position: absolute;
    width: 10%;
    z-index: 5;
    margin-top: 10%;
    margin-left: 10%;
 }
 .preço4{
    height: 10%;
    position: absolute;
    width: 10%;
    z-index: 5;
    margin-top: 10%;
    margin-left: 10%;
 }
 .preço5{
    height: 10%;
    position: absolute;
    width: 10%;
    z-index: 5;
    margin-top: 10%;
    margin-left: 67%;
 }
 .preço6{
    height: 10%;
    position: absolute;
    width: 10%;
    z-index: 5;
    margin-top: 10%;
    margin-left: 67%;
 }
 .preço7{
    height: 10%;
    position: absolute;
    width: 10%;
    z-index: 5;
    margin-top: 30%;
    margin-left: 67%;
 }
 .preço8{
    height: 10%;
    position: absolute;
    width: 10%;
    z-index: 5;
    margin-top: 30%;
    margin-left: 67%;
 }
 .preço9{
    height: 10%;
    position: absolute;
    width: 10%;
    z-index: 5;
    margin-top: 30%;
    margin-left: 12%;
 }
 .preço10{
    height: 10%;
    position: absolute;
    width: 10%;
    z-index: 5;
    margin-top: 30%;
    margin-left: 12%;
 }
 .preço11{
    height: 10%;
    position: absolute;
    width: 10%;
    z-index: 5;
    margin-top: 30%;
    margin-left: -47%;
 }
 .preço12{
    height: 10%;
    position: absolute;
    width: 10%;
    z-index: 5;
    margin-top: 30%;
    margin-left: -47%;
 }

 .texto{
    width: 10%;
    margin-left: -71%;
    font-size: 160%;
    margin-top: -54%;
    z-index: 1;
 }

 .texto1{
    width: 8%;
    margin-left: -17%;
    font-size: 150%;
    margin-top: 10.5%;
    z-index: 1;
    position: absolute;
 }

 .texto2{
    width: 10%;
    margin-left: 42%;
    font-size: 160%;
    margin-top: 31%;
    z-index: 1;
    position: absolute;
 }

 .texto3{
    width: 10%;
    margin-left: -71%;
    font-size: 160%;
    margin-top: 31%;
    z-index: 1;
    position: absolute;
 }
 .texto4{
    width: 10%;
    margin-left: -14%;
    font-size: 160%;
    margin-top: 31%;
    z-index: 1;
    position: absolute;
 }
 .texto5{
    width: 10%;
    margin-left: 42%;
    font-size: 160%;
    margin-top: 11%;
    z-index: 1;
    position: absolute;
 }
 