  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

  body {
      font-family: 'Poppins', sans-serif;
      background: url(../../assets/img/wallpaper_regras.png) no-repeat center center fixed;
      background-size: cover;
      color: #e0e0e0;
      margin: 0;
      padding: 0;
      display: flex;
  }

  .overlay {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
  }

  .sidebar {
      width: 260px;
      position: fixed;
      left: 0;
      top: 0;
      height: 100vh;
      background: rgba(0, 0, 0, 0.085);
      padding: 20px;
      z-index: 3;
      box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
      display: flex;
      flex-direction: column;
      backdrop-filter: blur(4px);

    }


  .sidebar h3 {
      color: rgb(132, 30, 30);
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 15px;
  }

  .sidebar a {
      display: block;
      color: #ffffff;
      text-decoration: none;
      padding: 8px 10px;
      margin-bottom: 8px;
      border-radius: 5px;
      transition: all 0.3s ease-in-out;
      font-size: 14px;
      backdrop-filter: blur(px);

  }

  .sidebar a:hover {
      color: rgb(157, 33, 33);
      font-weight: 600;
  }

  .container {
      position: relative;
      z-index: 2;
      width: calc(100% - 260px);
      margin-left: 260px;
      padding: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .content {
      max-width: 800px;
      background: rgba(0, 0, 0, 0.26);
      padding: 30px;
      border-radius: 10px;
      box-shadow: 11px 10px 30px rgba(0, 0, 0, 0.408);
      backdrop-filter: blur(4px);
      margin-top: 5%;
  }

  h1, h2 {
      color: rgb(132, 30, 30);
      border-bottom: 2px solid rgb(132, 30, 30);
      padding-bottom: 5px;
      text-align: center;
  }

  p {
      line-height: 1.6;
      font-size: 15px;
      text-align: justify;
  }

  a {
      color: rgb(132, 30, 30);
      text-decoration: none;
      font-weight: bold;
  }

  a:hover {
      text-decoration: underline;
  }

  @media (max-width: 900px) {
      .sidebar {
          width: 220px;
      }
      .container {
          width: calc(100% - 220px);
          margin-left: 220px;
      }
  }

  @media (max-width: 700px) {
      .sidebar {
          position: relative;
          width: 100%;
          height: auto;
          text-align: center;
          padding: 15px;
          box-shadow: none;
          
      }
      .container {
          width: 100%;
          margin-left: 0;
          padding: 20px;
      }
      .content {
          width: 100%;
          padding: 20px;
      }
      .aa{
          width: 50%;
      }
  }