 

* {
    margin: auto;
}

body {
    background-image: url(../../assets/img/fundo_wiki.png);

}

#main {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/img/fundo_wiki.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#title {
    color: rgb(230, 230, 230);
    font-size: 4vh;
    position: relative;
    text-align: left;
    top: 5%;
    width: 90%;
    height: 8%;
    font-family: RDRLino-Regular;
    padding-left: 5%;
}

#caixa {
    position: relative;
    height: 75%;
    width: 95%;
    left: 5%;
    top: 4.5%;
    white-space: nowrap;
}

.caixa {
    background-image: url(../../assets/img/bg_1a.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    top: 9%;
    width: 26%;
    height: 82%;
    display: inline-block;
    white-space: pre-line;
}

.caixa:hover {
    background-image: url(../../assets/img/hover.png);
}

#caixa-info {
    position: relative;
    width: 85%;
    height: 35%;
    left: 7%;
    font-family: HapnaSlabSerif-Medium;
    font-size: 2vh;
    color: rgb(224, 224, 224);
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
    margin-top: 10%;
}

.personagens, .gang {
    width: 95%;
    position: absolute;
    border-radius: 20%;
    opacity: 40%;
}

.personagens {
    
    margin-left: -6%;
    margin-top: -20%;
}

.gang {
    margin-left: -6%;
    margin-top: -20%;
}

h3 {
    position: absolute;
    margin-top: 55%;
}

a {
    width: 90%;
    position: absolute;
    margin-top: 65%;
    margin-left: -5%;
}

 .logo{
    position: absolute;
    margin-left: 55%;
    margin-top: -76%;
    z-index: 1;
 }